
/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header.hero {
    background: url('concert.jpg') no-repeat center center/cover;
    color: rgb(0, 162, 255);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
}
.navbar li {
    margin: 0 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.hero-content h1 {
    font-size: 3em;
    margin: 10px 0;
}
.hero-content p {
    margin: 5px 0;
}
.hero-content button {
    background: #f04;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
.section {
    padding: 50px 20px;
    text-align: center;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
